.wrapper {
  max-width: 60rem;
  margin: auto;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar-link {
  margin-left: 10px;
}
* {
  color: #2f2f2f;
}
.icons {
  display: flex;
  align-items: center;
}
