<div *ngIf="pageReady">
  {{totalArticles}} article{{ articles.length > 1 ? 's' : '' }}.
  <mat-list>
    <app-article-list-item
      *ngFor="let article of articles"
      [article]="article" [user]="user"
    />
    <div class="paginator-wrapper">
      <mat-paginator [length]="totalArticles"
                     [pageSize]="limit"
                     aria-label="Select page"
                     [pageIndex]="page"
                     [hidePageSize]="true"
                     (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>

  </mat-list>
</div>
<app-loader [show]="!pageReady" />
